<div class="container">
  <mat-table [dataSource]="dataSource" class="table">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let user; index as i">{{ i + 1 }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.address }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Is Admin?</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <mat-checkbox [checked]="user.role === 'Admin'" disabled></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button (click)="editUser(user)" class="edit-icon" mat-icon-button matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteUser(user)" class="delete-icon" mat-icon-button matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data found...</td>
    </tr>
  </mat-table>
</div>
